

.example {
  position: relative;
  margin-top: 2rem;
  height: 150px;
}

.example-screenshot {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (min-width: 550px) {
.example-screenshot-wrapper {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  max-height: none;
}
}

.example-screenshot-wrapper {
  display: block;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 150px;
}

.example-header {
  font-weight: 600;
  margin-top: 1.0rem;
  margin-bottom: .5rem;
}

.one-half {
  width: 48%;
  margin-left: 52%; 
}

